* {
  box-sizing: border-box;
}

body {
  background: #f0e9e9;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}
header {
  text-align: center;
}

.container {
  max-width: 600px;
  background: #ffffff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(204, 190, 190);
}
.container div {
  margin-bottom: 10px;
}
.container label {
  margin-right: 10px;
}
.res span{ 
  display: inline-block;
}
footer p {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}
